aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
alembic==1.16.1
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.3
arxiv==2.0.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.2.1
async-timeout==4.0.2
asyncio==3.4.3
asyncpg==0.30.0
atpublic==5.0
attrs==25.3.0
auth0-python==4.7.2
Authlib==1.3.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.4
black==25.1.0
blinker==1.9.0
boto3==1.38.39
botocore==1.38.39
Brotli==1.1.0
build==1.2.1
CacheControl==0.14.0
cachetools==5.5.2
certifi==2025.6.15
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
chroma-hnswlib==0.7.6
chromadb==0.5.23
cleo==2.1.0
click==8.2.1
cohere==5.13.11
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
configobj==5.0.8
crashtest==0.4.1
crewai==0.98.0
crewai-tools==0.32.1
cryptography==45.0.4
cssselect2==0.7.0
dataclasses-json==0.6.3
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.4.0
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docling==2.41.0
docling-core==2.42.0
docling-ibm-models==3.8.1
docling-parse==4.0.5
docopt==0.6.2
docstring_parser==0.16
docx2txt==0.8
driver==0.1.0
duckduckgo-search==3.9.5
dulwich==0.21.7
durationpy==0.9
easyocr==1.7.2
ecdsa==0.19.1
email-validator==2.1.0.post1
embedchain==0.1.126
emoji==2.9.0
et_xmlfile==2.0.0
executing==1.2.0
fastapi==0.115.12
fastavro==1.10.0
fastjsonschema==2.19.1
feedparser==6.0.10
filelock==3.18.0
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.44.3
frozenlist==1.7.0
fsspec==2025.5.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.103.0
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.25.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gptcache==0.1.44
greenlet==3.2.2
grpc-google-iam-v1==0.14.2
grpcio==1.73.1
grpcio-health-checking==1.69.0
grpcio-status==1.71.2
grpcio-tools==1.69.0
h11==0.16.0
h2==4.1.0
hf-xet==1.1.4
hpack==4.0.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.33.0
humanfriendly==10.0
hyperframe==6.0.1
idna==3.10
ijson==3.3.0
imageio==2.37.0
importlib-resources==6.0.1
importlib_metadata==8.7.0
iniconfig==2.1.0
installer==0.7.0
instructor==1.7.2
ipykernel==6.23.3
ipython==8.14.0
isort==6.0.1
jaraco.classes==3.3.0
jedi==0.18.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.3.2
json_repair==0.35.0
jsonlines==3.1.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==4.0.1
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.3.0
jupyter_core==5.3.1
keyring==24.3.0
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.15
langchain-cohere==0.3.5
langchain-community==0.3.15
langchain-core==0.3.31
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langchainplus-sdk==0.0.17
langdetect==1.0.9
langsmith==0.1.147
latex2mathml==3.78.0
lazy_loader==0.4
linkup-sdk==0.2.2
litellm==1.30.0
llama-index==0.9.16.post1
lxml==5.4.0
Mako==1.3.10
Markdown==3.5.1
markdown-it-py==3.0.0
markdown2==2.4.10
marko==2.1.4
MarkupSafe==3.0.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
md2pdf==1.0.1
mdurl==0.1.2
mem0ai==0.1.47
mmh3==5.0.1
monotonic==1.6
more-itertools==10.2.0
motor==3.3.1
mpire==2.10.2
mpmath==1.3.0
msgpack==1.0.7
multidict==6.5.1
multiprocess==0.70.18
mypy==1.16.0
mypy_extensions==1.1.0
nest-asyncio==1.5.8
networkx==3.5
ninja==1.11.1.4
nltk==3.8.1
nodeenv==1.9.1
numexpr==2.8.4
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.15.1
openai==1.88.0
openapi-schema-pydantic==1.2.4
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.4.0
packaging==25.0
pandas==2.3.0
parso==0.8.3
passlib==1.7.4
pathspec==0.12.1
patronus==0.0.17
pdfminer.six==20231228
pdfplumber==0.11.5
permchain==0.0.3
pexpect==4.8.0
pgvector==0.4.1
pickleshare==0.7.5
pillow==11.2.1
pkginfo==1.11.0
platformdirs==4.3.8
playwright==1.39.0
pluggy==1.6.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.6.0
portalocker==2.10.1
posthog==3.9.2
prompt-toolkit==3.0.38
propcache==0.3.2
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.9.5
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydyf==0.8.0
pyee==11.0.1
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.22.0
pylatexenc==2.10
pymongo==4.5.0
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
pyOpenSSL==24.3.0
pyparsing==3.2.3
pypdf==5.1.0
pypdfium2==4.30.1
pyphen==0.14.0
PyPika==0.48.9
pyproject_hooks==1.1.0
pyright==1.1.392.post0
pysbd==0.3.4
PySocks==1.7.1
pytest==8.0.2
pytest-asyncio==0.23.5
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
python-iso639==2023.12.11
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==1.0.2
pytube==15.0.0
pytz==2025.2
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==25.1.0
qdrant-client==1.13.2
rapidfuzz==3.5.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.25.1
rsa==4.9.1
rtree==1.4.0
ruff==0.12.0
s3transfer==0.13.0
safetensors==0.5.3
schema==0.7.7
scikit-image==0.25.2
scipy==1.15.3
scrapegraph_py==1.10.2
selenium==4.28.0
semchunk==2.2.2
serpapi==0.1.5
sgmllib3k==1.0.0
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowflake==1.0.2
snowflake-connector-python==3.12.4
snowflake._legacy==1.0.0
snowflake.core==1.0.2
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.7
spider-client==0.1.26
SQLAlchemy==2.0.27
stack-data==0.6.2
starlette==0.46.2
sympy==1.14.0
tabulate==0.9.0
tavily-python==0.2.6
tenacity==8.5.0
tifffile==2025.6.11
tiktoken==0.9.0
tinycss2==1.2.1
tokenizers==0.21.1
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.12.3
torch==2.7.1
torchvision==0.22.1
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
transformers==4.52.4
trio==0.23.1
trio-websocket==0.11.1
trove-classifiers==2024.1.31
typer==0.16.0
types-jmespath==1.0.2.20250529
types-passlib==1.7.7.20250602
types-protobuf==4.24.0.4
types-pyasn1==0.6.0.20250516
types-python-jose==3.5.0.20250531
types-requests==2.32.0.20241016
typing==3.7.4.3
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
unstructured==0.11.5
unstructured-client==0.15.0
uritemplate==4.2.0
urllib3==2.5.0
uv==0.5.29
uvicorn==0.34.2
uvloop==0.17.0
validators==0.34.0
virtualenv==20.25.0
watchfiles==0.20.0
wcwidth==0.2.6
weasyprint==60.1
weaviate-client==4.10.4
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
wrapt==1.16.0
wsproto==1.2.0
xattr==1.1.0
xlsxwriter==3.2.5
yarl==1.20.1
zipp==3.23.0
zopfli==0.2.3
